@{
    ViewData["Title"] = "Quinta sala";
}


<body>

     <!-- titulo -->
    <div class="text-center">
        <h1 class="display-4">Quinta sala</h1>
        <p>10:50 am</p>
    </div>
    <section class="tamaño-pagina">
        <div class="contenedor">
        
        <p>
            ¡Es el recreo! Tienes un plan para hacerte pasar por un estudiante de quinto año y salir por la puerta principal. Te acercas discretamente a la puerta, pero el encargado de seguridad te pide que muestres tu permiso de salida.
            Le decis:
        </p>
    </div>
    
    <div class="opciones">
        <ul>
            <li>Me lo deje en mi casa, si queres busca mi nombre en la LISTA</li>
            <li>Mostrar tu DNI</li>
            <li>Me duele la panza, tengo el PERMISO de la coordinadora </li>
        </ul>
    </div>
    <div class="contenedor">
        <form action='@Url.Action("habitacion", "home")' method="post">
            <input type="number" value="5" hidden name="codigoSala">
            <input type="text" autocomplete="off" class="form-control" required placeholder="Respuesta..." name="respuesta">
            <div class="submit">
                <button class="text-dark" type="submit">ENVIAR</button>
            </div>
        </form>
        <img src="/imagenes/stop_habitacion5.png">
    </div>
    </section>

    
</body>
