@{
    ViewData["Title"] = "Tercera sala";
}

<body>

     <!-- titulo -->
    <div class="text-center">
        <h1 class="display-4">Tercera sala</h1>
        <p>10:00 am</p>
    </div>
    <section class="tamaño-pagina">
        <div class="contenedor">
        
        <p>
            Tus planes se ven interrumpidos cuando te encuentras con Juli, un compañero de clase. Juli te pregunta si te estás rateando.
            Qué le contestas?
        </p>
    </div>
    
    <div class="opciones">
        <ul>
            <li>SI</li>
            <li>NO</li>
            <li>Me DUELE la panza</li>
        </ul>
    </div>
    <div class="contenedor">
        <form action='@Url.Action("habitacion", "home")' method="post">
            <input type="number" value="3" hidden name="codigoSala">
            <input type="text" autocomplete="off" class="form-control" required placeholder="Respuesta..." name="respuesta">
            <div class="submit">
                <button class="text-dark" type="submit">ENVIAR</button>
            </div>
        </form>
        <img src="/imagenes/usb_habitacion3.png">
    </div>
    </section>

    
</body>
