@{
    ViewData["Title"] = "Segunda sala";
}

<body>

    <!-- titulo -->
    <div class="text-center">
        <h1 class="display-4">Segunda sala</h1>
        <p>10:20 am</p>
    </div>

    <!-- imagenes descriptivas -->
    <div class="text-center">
        
        <p>
            La coordinadora me recibe con buena onda y me pregunta qué estoy haciendo en la coordinación. Le cuento que me duele la panza y que quiero pegar el faltazo para irme a casa a descansar a mi casa. Me hace llamar a mis viejos para que me autoricen.
            Qué le decis a tu viejo?
        </p>
        <img src="/imagenes/telefono_habitacion2.png">
    </div>
    
</body>
