@{
    ViewData["Title"] = "Cuarta sala";
}


<body>

    <div class="text-center">
        <h1 class="display-4">Cuarta sala</h1>
        <p>10:40 am</p>
    </div>
    <section class="tamaño-pagina">
        <div class="contenedor">
        
        <p>
            "Jaja yo también era un pillo a tu edad, 
            ¿quieres escuchar una anécdota sobre eso?"
            Le respondes:

        </p>
    </div>
    
    <div class="opciones">
        <ul>
            <li>SI</li>
            <li>NO</li>
            <li>No tengo TIEMPO</li>
        </ul>
    </div>
    <div class="contenedor">
         <form action='@Url.Action("habitacion", "home")' method="post">
            <input type="number" value="4" hidden name="codigoSala">
            <input type="text" autocomplete="off" class="form-control" required placeholder="Respuesta..." name="respuesta">
            <div class="submit">
                <button class="text-dark" type="submit">ENVIAR</button>
            </div>
            <div class="submit">
                <a class="text-dark" asp-area="" asp-controller="Home" asp-action="pista">PISTA</a>
            </div>
        </form>

        <img src="/imagenes/mensaje_habitacion4.png">
    </div>
    </section>

    
</body>
