@{
    ViewData["Title"] = "Séptima sala";
}


<body>

    <div class="text-center">
        <h1 class="display-4">Séptima sala</h1>
        <p>11:40 am</p>
    </div>
    <section class="tamaño-pagina">
        <div class="contenedor">
        
        <p>
            La señora te dice que el alfajor sale 125 pesos, le doy un billete de 100, uno de 500 y uno de 5, me pregunta si tengo 50 pesos, le digo que sí, me devuelve el billete de 100 y le doy el de 50, 
            ¿cuánto me debe?
        </p>
    </div>
    
    <div class="opciones">
        <ul>
            <li>430</li>
            <li>420</li>
            <li>415</li>
        </ul>
    </div>
    <div class="contenedor">
        <form action='@Url.Action("habitacion", "home")' method="post">
            <input type="number" value="7" hidden name="codigoSala">
            <input type="text" autocomplete="off" class="form-control" required placeholder="Respuesta..." name="respuesta">
            <div class="submit">
                <button class="text-dark" type="submit">ENVIAR</button>
            </div>
            <div class="submit">
                <a class="text-dark" asp-area="" asp-controller="Home" asp-action="pista7">PISTA</a>
            </div>
        </form>

        <img src="/imagenes/plata_habitacion7.png">
    </div>
    </section>

    
</body>
