@{
    ViewData["Title"] = "Tercera sala";
}

<body>

    <!-- titulo -->
    <div class="text-center">
        <h1 class="display-4">Tercera sala</h1>
        <p>8:50 am</p>
    </div>

    <!-- imagenes descriptivas -->
    <div class="text-center">
        
        <p>
            Te encontras a Julian, tu profe de programación, te ve caminando solo fuera del horario de clase y te pregunta si te estás rateando.
            Qué le contestas?
        </p>
        <img src="/imagenes/usb_habitacion3.png">
    </div>
    
</body>
