@{
    ViewData["Title"] = "Tercera sala";
}

<body>

     <!-- titulo -->
    <div class="text-center">
        <h1 class="display-4">Tercera sala</h1>
        <p>10:00 am</p>
    </div>
    <section class="tamaño-pagina">
        <div class="contenedor">
        
        <p>
            Te encontras a Julian, tu profe de programación, te ve caminando solo fuera del horario de clase y te pregunta si te estás rateando.
            Qué le contestas?
        </p>
    </div>
    
    <div class="opciones">
        <ul>
            <li>Tengo que ir al BAÑO</li>
            <li>Tengo que ir a cargar AGUA</li>
            <li>Me DUELE la panza</li>
        </ul>
    </div>
    <div class="contenedor">
         <form method="post" action="incorrecto.cshtml" >
            <p> Respuesta: </p>
            <input type="text" name="respuesta"> 
            <button type="submit" class="enviar"> ENVIAR </button>
        </form>
        <img src="/imagenes/usb_habitacion3.png">
    </div>
    </section>

    
</body>
