@{
    ViewData["Title"] = "Primera sala";
}

<body>
    <section class="tamaño-pagina">

    <div class="text-center">
        <h1 class="display-4">Primera sala</h1>
        <p>9:20 am</p>
    </div>
    
    <div class="contenedor">
        
        <p>
            Es temprano por la mañana y estás cansado mientras entras al colegio. Por suerte, la primera clase es de TI y puedes decir "presente". Pero te das cuenta de que tendrás que quedarte hasta las 5:30 de la tarde para una aburrida clase de Historia Judía en el segundo bloque. Te abruma la idea y decides poner en marcha tu plan de escape.
            Le decis a tu profesor:
        </p>
        
    </div>
    <div class="opciones">
        <ul>
            <li>Tengo que ir al BAÑO</li>
            <li>Tengo que ir a cargar AGUA</li>
            <li>Me DUELE la panza</li>
        </ul>
    </div>
    <div class="contenedor">
          <form action='@Url.Action("habitacion", "home")' method="post">
            <input type="number" value="2" hidden name="codigoSala">
            <input type="text" autocomplete="off" class="form-control" required placeholder="Respuesta..." name="respuesta">
            <div class="submit">
                <button class="text-dark" type="submit">ENVIAR</button>
            </div>
            <div class="submit">
                <form action='@Url.Action("pista", "home")' method="post">
                <a class="text-dark" asp-area="" asp-controller="Home" asp-action="pista">PISTA</a>
                </form>
            </div>
         </form>
         <img src="/imagenes/dolor_habitacion1.png">
    </div>
        
    </div>
    </section>
</body>

