@{
    ViewData["Title"] = "Octava sala";
}


<body>

     <!-- titulo -->
    <div class="text-center">
        <h1 class="display-4">Octava sala</h1>
        <p>12:15 am</p>
    </div>
    <section class="tamaño-pagina">
        <div class="contenedor">
        
        <p>
            Ya es hora del almuerzo por fin puedes escapar ¿como salis?
        </p>
    </div>
    
    <div class="opciones">
        <ul>
            <li>Caminando SIN la mochila</li>
            <li>Caminando CON la mochila</li>
            <li>Caminando en PUNTITAS de pie</li>
        </ul>
    </div>
    <div class="contenedor">
         <form method="post" action="incorrecto.cshtml" >
            <p> Respuesta: </p>
            <input type="text" name="respuesta"> 
            <button type="submit" class="enviar"> ENVIAR </button>
        </form>
        <img src="/imagenes/casa_habitacion8.png">
    </div>
    </section>

    
</body>
