@{
    ViewData["Title"] = "Sexta sala";
}


<body>

     <!-- titulo -->
    <div class="text-center">
        <h1 class="display-4">Sexta sala</h1>
        <p>11:30 am</p>
    </div>
    <section class="tamaño-pagina">
        <div class="contenedor">
        
        <p>
            El recreo ha terminado y estás deambulando por el colegio cuando sientes un hambre irresistible. Decides ir al bar del colegio, y ese alfajor Guaymallén te llama a gritos.
            Le pides a la señora del bar que te venda el alfajor, pero te dice que estás en horario de clases y que no deberías estar ahí.
            ¿Qué excusa le das?

        </p>
    </div>
    
    <div class="opciones">
        <ul>
            <li>Se me bajó la PRESION, me mandaron a comprarme un guaymallen</li>
            <li>Tenía HAMBRE</li>
            <li>Te doy 1000 PESOS por ese guaymallen</li>
        </ul>
    </div>
    <div class="contenedor">
          <form action='@Url.Action("habitacion", "home")' method="post">
            <input type="number" value="6" hidden name="codigoSala">
            <input type="text" autocomplete="off" class="form-control" placeholder="Respuesta..." name="respuesta">
            <button class="btn btn-secondary" type="submit">Enviar</button>
        </form>

        <img src="/imagenes/alfajor_habitacion6.png">
    </div>
    </section>

    
</body>
