@{
    ViewData["Title"] = "Cuarta sala";
}


<body>

     <!-- titulo -->
    <div class="text-center">
        <h1 class="display-4">Cuarta sala</h1>
        <p>10:40 am</p>
    </div>
    <section class="tamaño-pagina">
        <div class="contenedor">
        
        <p>
            "Jaja yo también era un pillo a tu edad, 
            ¿quieres escuchar una anécdota sobre eso?"
            Le respondes:

        </p>
    </div>
    
    <div class="opciones">
        <ul>
            <li>SI</li>
            <li>NO</li>
            <li>No tengo TIEMPO</li>
        </ul>
    </div>
    <div class="contenedor">
         <form method="post" action="incorrecto.cshtml" >
            <p> Respuesta: </p>
            <input type="text" name="respuesta"> 
            <button type="submit" class="enviar"> ENVIAR </button>
        </form>
        <img src="/imagenes/mensaje_habitacion4.png">
    </div>
    </section>

    
</body>
