@{
    ViewData["Title"] = "Cuarta sala";
}


<body>

     <!-- titulo -->
    <div class="text-center">
        <h1 class="display-4">Cuarta sala</h1>
        <p>10:40 am</p>
    </div>
    <section class="tamaño-pagina">
        <div class="contenedor">
        
        <p>
            Es recreo!, plan: hacerse pasar por uno de 5to
            ya en la puerta, discretamente te acercas a la puerta pero la gorra te pide que le muestres tu permiso para salir,
            Rápidamente tenes que inventar una excusa:
        </p>
    </div>
    
    <div class="opciones">
        <ul>
            <li>Tengo que ir al BAÑO</li>
            <li>Tengo que ir a cargar AGUA</li>
            <li>Me DUELE la panza</li>
        </ul>
    </div>
    <div class="contenedor">
         <form method="post" action="incorrecto.cshtml" >
            <p> Respuesta: </p>
            <input type="text" name="respuesta"> 
            <button type="submit" class="enviar"> ENVIAR </button>
        </form>
        <img src="/imagenes/dolor_habitacion1.png">
    </div>
    </section>

    
</body>
