@{
    ViewData["Title"] = "Segunda sala";
}

<body>


    <div class="text-center">
        <h1 class="display-4">Segunda sala</h1>
        <p>9:40 am</p>
    </div>

    <section class="tamaño-pagina">
    <div class="contenedor">
        
        <p>
            La coordinadora te recibe con amabilidad y te pregunta qué estás haciendo allí. Le cuentas que te duele la panza y quieres faltar para ir a casa a descansar. Ella te pide que llames a tus padres para obtener su autorización.
            Qué le decis a tu padre?
        </p>
    </div>
    
    <div class="opciones">
        <ul>
            <li>Mi PROFESOR faltó, me puedo ir?</li>
            <li>Mi curso está en un acto de PURIM, me puedo ir?</li>
            <li>Me DUELE la panza</li>
        </ul>
    </div>
    <div class="contenedor">
        <form action='@Url.Action("habitacion", "home")' method="post">
            <input type="number" value="2" hidden name="codigoSala">
            <input type="text" autocomplete="off" class="form-control" required placeholder="Respuesta..." name="respuesta">
            <div class="submit">
                <button class="text-dark" type="submit">ENVIAR</button>
            </div>
            <div class="submit">
                <a class="text-dark" asp-area="" asp-controller="Home" asp-action="pista2">PISTA</a>
            </div>
        </form>

        <img src="/imagenes/telefono_habitacion2.png">
    </div>
    </section>


    
</body>
