@{
    ViewData["Title"] = "Perdiste!";
}

<body>

    <!-- titulo -->
    <div class="text-center">
        <h1 class="display-4">¡Perdiste!</h1>
        <p>uaaa uaaa uaaaaaaa </p>
    </div>

    <!-- imagenes descriptivas -->
    <section class="tamaño-pagina">
    <div class="contenedor">
        <p>Tu excusa no ha sido suficientemente convincente y te sancionaron, ¡perdiste!
        </p>
        <img src="/imagenes/escape_tutorial.png">
        <div class="submit">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="comenzar">VOLVER A COMENZAR</a>
        </div>
    </div>
    </section>
</body>

