@{
    ViewData["Title"] = "El escape académico";
}

<body>

    <!-- titulo -->
    <div class="text-center">
        <h1 class="display-4">El escape académico</h1>
        <p>Demuestra que eres el alumno más astuto y escapa de la escuela </p>
    </div>

    <!-- imagenes descriptivas -->
    <div class="contenedor">
        <div class="img-hor">
            <img src="/imagenes/misterioso_index.png">
            <img src="/imagenes/desafiante_index.png">
            <img src="/imagenes/divertido_index.png">
        </div>
        <div class="p-hor">
            <p>Misterioso</p>
            <p>Desafiante</p>
            <p>Divertido</p>
        </div>
        <div class="submit">
        <a  class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="tutorial">COMENZAR EL TUTORIAL</a>
        </div>
    </div>
    
</body>


