@{
    ViewData["Title"] = "No";
}

<body>

    <div class="text-center">
        <h1 class="display-4">No tenemos esa plataforma</h1>
    </div>
    <div class="text-center">
        <p>No tenemos esa plataforma por el momento
        </p>
        <img src="/imagenes/no_walter_white.png">
    </div>
    
</body>
