@{
    ViewData["Title"] = "Pista";
}

<body>

    <div class="text-center">
        <h1 class="display-4">Pista</h1>
        <p>Solo hay una por sala, así que pensá bien...</p>
    </div>

    <section class="tamaño-pagina">
    <div class="contenedor">
        <p>PISTA: Cuánta presión, no puedo decidir 
        </p>
        <div class="submit">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="comenzar">VOLVER A LA SALA</a>
        </div>
        <img src="/imagenes/alfajor_habitacion6.png">
    </div>
    </section>
</body>
