@{
    ViewData["Title"] = "Tutorial";
}

<body>

    <div class="text-center">
        <h1 class="display-4">Tutorial</h1>
        <p>Demuestra que eres el alumno más astuto y escapa de la escuela </p>
    </div>

    <section class="tamaño-pagina">
    <div class="contenedor">
        <p>Sos un estudiante del Colegio ORT y te encuentras desesperado por escaparte de las garras de la escuela. Sabes que para lograrlo, tendrás que enfrentar desafíos en cada aula y resolver los enigmas que los profesores te lanzan.
            En este viaje lleno de locura, solo tienes una oportunidad para pedir una pista por cada acertijo. Pero cuidado, si no adivinas la respuesta en dos intentos, deberás volver al punto de partida y comenzar de nuevo. Asegúrate de utilizar las claves que hayas obtenido para avanzar en tu escape.
            Cuando te enfrentes al acertijo y estés seguro de tu respuesta, escribe la palabra que se encuentra en mayúcula en el formulario y envialo para seguir avanzando.
            Prepárate para poner a prueba tus habilidades y conocimientos mientras te adentras en un laberinto de aulas repletas de desafíos cerebrales. ¡Buena suerte en tu escape! Que la astucia y la determinación te acompañen en esta increíble aventura de locos.

        </p>
        <img src="/imagenes/escape_tutorial.png">
        
              <form action='@Url.Action("nombre", "home")' method="post">
                <div class="submit"></div>
                 <button class="nav-link text-dark" type="submit">COMENZAR JUEGO</button>
              </form>
        </div>
    </div>
    </section>
</body>

