@{
    ViewData["Title"] = "Tutorial";
}

<body>

    <!-- titulo -->
    <div class="text-center">
        <h1 class="display-4">Tutorial</h1>
        <p>Demuestra que eres el alumno más astuto y escapa de la escuela </p>
    </div>

    <!-- imagenes descriptivas -->
    <div class="text-center">
        <p>Sos un  estudiante del  colegio ORT y tenés que escaparte de las garras del colegio, pero para lograrlo, tenés que enfrentar desafíos en cada aula y resolver los enigmas que te tiran los profes.
            En este viaje de locura, tenés una sola chance de pedir una pista por cada acertijo. Pero cuidado, si no adivinás la respuesta en dos intentos, tenés que volver al punto de partida y empezar de nuevo. ¡No te olvides de usar las claves que conseguiste antes para seguir adelante!
            Preparáte para poner a prueba tus habilidades y conocimientos mientras te perdés en un laberinto de aulas llenas de desafíos cerebrales. ¡Mucha suerte en tu escape y que la astucia y la determinación te acompañen en esta aventura de locos!
        </p>
        <img src="/imagenes/escape_tutorial.png">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="habitacion1">COMENZAR EL JUEGO</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="habitacion1">habitacion1</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="habitacion2">habitacion2</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="habitacion3">habitacion3</a>
    </div>
    
</body>

