@{
    ViewData["Title"] = "Ganaste!";
}

<body>

    <div class="text-center">
        <div class="confetti"></div>
        <div class="confetti"></div>
        <h1 class="display-4">¡Ganaste!</h1>
        <div class="confetti"></div>
        <p>Felicidades </p>
        <div class="confetti"></div>
    </div>
    </div>
        
    <section class="tamaño-pagina">
    <div class="contenedor">
        <div class="confetti"></div>
        <p>Gracias por jugar nuestra sala de escape, la hicimos con mucho amor
        </p>
        <div class="confetti"></div>
        <img src="/imagenes/escape_tutorial.png">
        <div class="confetti"></div>
        <div class="submit">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="index">VOLVER A INICIO</a>
        </div>
        <div class="confetti"></div>
    </div>
    </section>
</body>

