@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Antic&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
   
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #F1F6F9;
}

footer{
  padding: 30px;
}

.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  

}
.img-hor{
  text-align: center;
  
}

.p-hor{
  display: flex;
  flex-direction: row;
}

.p-hor p, .img-hor img{
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit, .enviar{
  border-radius: 10px;
  background-color: #9BA4B5;
  text-align: center;
}

.submit{
  margin-top: 10px
}

.submit a{
  text-decoration: none;
}



.submit:hover{
  border-radius: 20px;
  
}

button{
  border: none;
}

.opciones{
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.contenedor img{
  margin-top: 30px;
}

.enviar{
  margin-top: 2px;
}

.index{
  margin-bottom: 300px;
}

.tamaño-pagina{
  margin-bottom: 340px;
}


p, a, li{
  font-size: 20px;
  font-family: 'Antic', sans-serif;
  color: #0f192c;
}

h1, h2, a, button{
  font-family: 'Quantico', sans-serif;
  color: #394867;
}

button{
  background-color: #9BA4B5;
}

.navbar a{
  color: #F1F6F9;
  margin: 10px;
}

.navbar, .footer{
  background-color:#394867;
  padding: 10px;
  
}

.footer a, .footer p{
  color: #F1F6F9;
  text-decoration: none;
  font-family: 'Quantico', sans-serif;
}

.logo_img{
  background-color: white;
  padding: 15px;
  margin-right: 10px;

}

.boton {
  font-family: 'Quantico', sans-serif;
  color: #394867;
}

.footer-lista{
  list-style:none
}





.confetti {
  width: 15px;
  height: 15px;
  background-color: #f2d74e;
  position: absolute;
  left: 80%;
  animation: confetti 5s ease-in-out -2s infinite;
  transform-origin: right top;
}
.confetti:nth-child(1) {
  background-color: #f2d74e; left: 90%; animation-delay: 0;
}
.confetti:nth-child(2) {
  background-color: #95c3de; left: 20%; animation-delay: -5s;
}
.confetti:nth-child(3) {
  background-color: #ff9a91; left: 80%; animation-delay: -3s;
}
.confetti:nth-child(4) {
  background-color: #f2d74e; left: 10%; animation-delay: -2.5s;
}
.confetti:nth-child(5) {
  background-color: #95c3de; left: 90%; animation-delay: -4s;
}
.confetti:nth-child(6) {
  background-color: #ff9a91; left: 10%; animation-delay: -6s;
}
.confetti:nth-child(7) {
  background-color: #f2d74e; left: 80%; animation-delay: -1.5s;
}
.confetti:nth-child(8) {
  background-color: #95c3de; left: 20%; animation-delay: -2s;
}
.confetti:nth-child(9) {
  background-color: #ff9a91; left: 50%; animation-delay: -3.5s;
}
.confetti:nth-child(10) {
  background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
}

@keyframes confetti {
  0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
  25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
  50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
  75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
  100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
}
