html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;

}
.img-hor{
  text-align: center;
  
}

.p-hor{
  display: flex;
  flex-direction: row;
}

.p-hor p, .img-hor img{
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a{
  margin-top: 10px;
}